// классы тем текста
.color {
  // .color-primary
  &-primary {
    color: $color-primary;
  }

  // .color-danger
  &-danger {
    color: $color-danger;
  }

  // .color-warning
  &-warning {
    color: $color-warning;
  }

  // .color-success
  &-success {
    color: $color-success;
  }

  // .color-light
  &-light {
    color: $color-light;
  }

  // .color-dark
  &-dark {
    color: $color-dark;
  }

  // .color-secondary
  &-dark {
    color: $color-secondary;
  }
}

// Классы размеров текста
.text {
  // .text-xl
  &-xl {
    font-size: 22px;
    line-height: 150%;

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 16px;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 14px;
    }
  }
  // .text-lg
  &-lg {
    font-size: 18px;
    line-height: 150%;

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 14px;
      line-height: 143%;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 12px;
    }
  }
  // .text-md
  &-md {
    font-size: 16px;
    line-height: 130%;

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 12px;
    }
  }
  // .text-sm
  &-sm {
    font-size: 14px;
    line-height: 120%;

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 10px;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 12px;
    }
  }
}

// Классы размеров заголовков
.title {
  // .title-xl
  &-xl {
    font-size: 95px;
    line-height: 120%;
    font-weight: 400;

    @media (max-width: $breakpoint-desktop-lg) {
      font-size: 80px;
    }

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 60px;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 36px;
    }
  }
  // .title-lg
  &-lg {
    font-size: 80px;
    line-height: 120%;
    font-weight: 400;
    @media (max-width: $breakpoint-desktop-lg) {
      font-size: 65px;
    }

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 50px;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 30px;
    }
  }
  // .title-md
  &-md {
    font-size: 50px;
    line-height: 120%;
    font-weight: 400;

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 44px;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 26px;
    }
  }
  // .title-nr
  &-nr {
    font-size: 35px;
    line-height: 120%;
    font-weight: 400;

    @media screen and (max-width: $breakpoint-desktop-md) {
      font-size: 28px;
    }

    @media screen and (max-width: $breakpoint-tablet-sm) {
      font-size: 22px;
    }
  }
}

// helpers
.text-center {
  text-align: center;
}
