// RobotoMono
@font-face {
  font-family: "RobotoMono";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/RobotoMono/RobotoMono-Regular.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/RobotoMono/RobotoMono-Bold.ttf") format("TrueType");
  font-display: swap;
}
