// fonts
$main-font: "RobotoMono";
$main-font-weight: 400;
$main-font-size: 16px;
$main-font-lh: 125%;

// colors
$color-secondary: #7f7e77;
$color-danger: #d20a11;
$color-dark: #202124;
$color-coal: #343434;
$color-success: #46c123;
$color-light: rgb(240, 235, 255);
$color-primary: #5c24c4;
$color-warning: #f0c15c;
$color-warning-light: #fae9c4;
$color-thunder-sky: rgb(143 145 168);

// gradients
$gradient-secondary: linear-gradient(
  to right top,
  #475366,
  #4b5164,
  #4e4f62,
  #514e5f,
  #534c5c
);
$gradient-dark: linear-gradient(
  90deg,
  rgba(54, 54, 68, 1) 0%,
  rgba(54, 54, 68, 1) 40%,
  rgba(54, 54, 68, 1) 100%
);
$hsla-light: hsla(0, 0%, 100%, 0.8);

// breakpoints
$breakpoint-desktop-lg: 1680px;
$breakpoint-desktop-md: 1280px;
$breakpoint-tablet-md: 1023px;
$breakpoint-tablet-sm: 767px;
$breakpoint-mob: 524px;

// transitions
$transition-mod: ease all 0.3s;
$transition-mod-lazzy: linear all 0.5s;
$transition-mod-fast: linear all 0.1s;
